# Database
DATABASE_HOST=db
DATABASE_NAME=barbershop_services
DATABASE_USER=bookstyle_user
DATABASE_PASS=change_me

# Stripe
STRIPE_SECRET_KEY=change_me

# Email / SMTP
SMTP_HOST=change_me
SMTP_USER=change_me
SMTP_PASS=change_me
SMTP_PORT=587