/* Reset some common default margins and paddings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}
